* {
    box-sizing: border-box;
}

main {
    border: 1px solid rgb(102, 101, 101);
 
}
header{
    text-align: center;
}
input{
    margin: 2px;
}


footer{
    border-top: 1px solid black;
    text-align: center;
}
input{
    width: 25%;
}

input[type=submit]{
    width: 75%;
}
.sor{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr ;
}